# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

Markdown style guide.md

# Cloudflare 的缓存文件夹
.wrangler/

# VS Code 的个人配置
.vscode/

# 一键发布脚本
deploy.bat