---
// links.astro
const links = [
  { href: "https://daily.sakoamc.com/YCChan2001", text: "sak个人记录" },
  { href: "https://blog.wrihope.top/links", text: "Ating Life" },
  { href: "/about", text: "关于我们 (站内链接)" },
];
---

<LayoutDefault>
    <div class="flex flex-col gap-4 items-center mb-8">
      <h1 class="text-3xl font-bold text-primary">友情链接</h1>
    </div>
    <ul class="list-none pl-0">
      {links.map((link) => (
        <li class="mb-4">
          <a href={link.href} class="text-blue-500 hover:underline font-medium">{link.text}</a>
        </li>
      ))}
    </ul>
  </LayoutDefault>